.footer {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #7eb0ba;

  &__text {
    text-align: center;
  }
}
