.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 5rem;

  &__logo {
    width: 10rem;
    margin: 0;

    &-container {
      height: 100%;
    }

    &-link {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
    }

    &-text {
      margin-top: -2.2rem;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
    }
  }

  &__nav {
    @media only screen and (max-width: 730px) {
      display: none;
    }

    &-burger {
      display: none;
      position: relative;

      @media only screen and (max-width: 730px) {
        display: inline-block;
      }
    }

    &-container {
      display: flex;
      justify-self: center;
      align-items: center;
    }

    &-list {
      list-style-type: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    &-item {
      height: 100%;
      margin: 0 3rem;
    }

    &-link {
      display: flex;
      justify-self: center;
      align-items: center;
      height: 100%;
      font-size: 2.5rem;
      font-weight: 500;
      transition: all 0.2s;

      &:hover {
        color: white;
      }
    }
  }
}

//burger menu

.hamburger-checkbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
  display: inline-block;
  z-index: 1;
  appearance: none;
  cursor: pointer;
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: default;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease,
    transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger__menu {
  &-list {
    display: none;
    list-style-type: none;
    background-color: #658e96;
    position: absolute;
    top: 6.3rem;
    right: -130vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120vw;
    opacity: 0;
    transition: all 0.5s;
  }

  &-item {
    margin: 1rem 0 1rem;
  }

  &-link {
    font-size: 2.4rem;
    color: white;
    font-weight: 600;
  }
}

.hamburger-checkbox:checked ~ .hamburger__menu-list {
  opacity: 1;
  right: -10rem;
}

.hamburger-checkbox:checked + .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger-checkbox:checked ~ .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger-checkbox:checked ~ .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease,
    transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
